

<form asp-action="Index" method="get">
    <div class="col-4">
        <input type="text" name="searchString" class="form-control" />
    </div>
    <input type="submit" value="Search" class="btn btn-outline-dark" style="width:180px" />
</form>
