@model IEnumerable<Ambrella.Models.InstitutionAssignNotification>

<style>
    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        color: #fff; /* White text */
    }

    th, td {
        border: 1px solid #fff; /* White border */
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #000; /* Black background for table header */
    }

    tr:nth-child(even) {
        background-color: #111; /* Darker black alternate row background color */
    }
</style>

<h1>Notifications</h1>

<table class="table">
    <thead>
        <tr>
            <th>Message</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.Message</td>
                <td>@notification.CreatedAt.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
